.menuCardContainer {
    width: 100%;
    height: 100%;
    column-gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 1rem;
    border-radius: 5px;
    border: var(--contrast-border);
}

.menuCard {
    background-color: orange;
    width: 15rem;
    height: 3rem;
    border: var(--contrast-border);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--contrast-border);
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1.5rem;
}

.menuContainer {
    flex: 1;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
}

.menuCategoryBar {
    min-width: 100%;
    min-height: max-content;
    display: flex;
    overflow: auto;
    /* background-color: white; */
    overflow-y: hidden;
    align-items: center;
    justify-content: flex-start;
    height: max-content;
    padding: 0.5rem;
    border-bottom: 2px solid var(--contrast-color);


}

.menuCategoryBar::-webkit-scrollbar {
    height: 5px;
    width: 1rem;
    max-width: 1rem;
    border-radius: 10px;
}

.menuCategoryBar::-webkit-scrollbar-thumb {
    background-color: var(--cool-dark-grey);
    border-radius: 10px;
    max-width: 1rem;
}


.menuItemsRow {
    display: flex;
    padding: 0.5rem;
    height: max-content;
    /* background-color: green; */
    flex-direction: column;

}

.menuItems {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: var(--cool-dark-grey);
    cursor: pointer;
    background-color: white;
    display: flex;
    border-radius: 5px;
    border: var(--contrast-border);
    /* border-bottom: 1px solid var(--cool-dark-grey); */
    font-family: "poppins";
}

.menuItemsItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
}

.menuItemsOptionContainer {
    display: flex;
    padding: 0.5rem;
    /* background-color: orange; */
}

.menuItemsItemInfo {
    flex: 1;
}

.menuItemListContainer {
    flex: 1;
    background-color: white;
    display: none;
    padding: 10px;
    border: var(--contrast-border);
    ;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /* border: 2px solid greenyellow; */
}

.menuItemList {
    width: 100%;
    height: 100%;
    list-style: none;
    /* border: 2px solid red; */
    display: flex;
    /* background-color: yellow; */
    /* padding: 1rem; */
    display: grid;
    gap: 8px;
    column-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}


.showItem {
    /* height: max-content; */
    display: flex;
    height: max-content;

}

.menuItemVaraintInfoCardContainer {
    /* width: max-content; */
    padding: 0.5rem;
    /* background-color: green; */
    flex: 1;
    display: flex;

}

.menuItemVariantInfoCard {
    /* background-color: orange; */
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menuItemVariantCardName {
    font-size: 16px;
    font-family: "Inter";
    /* flex: 1; */
    /* font-weight: bold; */
    color: var(--cool-dark-grey);
    /* background-color: blue; */
}

.menuItemVariantOtherInfo {
    /* background-color: purple; */
    display: flex;
    flex: 1;
    padding-top: 0.5rem;
    justify-content: flex-start;
    /* padding: 0 0; */
}

.menuItemVariantPrice {
    width: 50%;
    font-family: "Inter";
    font-size: 18px;
    /* background-color: orange; */
}

.menuItemVariantEditButtonContainer {
    width: max-content;
    /* height: 100%; */
    display: flex;
    padding: 0.5rem;
    /* background-color: beige; */
    justify-content: center;
}

.menuItemContainer {
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}

#menuAlphabates {
    width: max-content;
    /* margin-top: 1rem; */
    background-color: var(--light-BG-color);
    font-size: 14px;
    padding: 2px 10px;
    display: flex;
    cursor: pointer;
    align-items: flex-end;
    font-family: "poppins";
    color: var(--cool-dark-grey);
    border-radius: 2rem;
    background-color: white;
    border: var(--contrast-border);
}

.menuAlphabatesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    /* background-color: orange; */
}

.createMenuItemVariant {
    display: flex;
    /* background-color: purple; */
    flex: 1;
    justify-content: center;
    align-items: center;
    justify-content: center;
    /* background-color: yellowgreen; */
}