.tableCard {
    width: 100%;
    height: 300px;
    border: var(--contrast-border);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
}

.tableCard:hover {
    box-shadow: 1px 2px 8px var(--contrast-color);
}


.tableCardHeader {
    /* background-color: beige; */
    width: 100%;
    height: auto;
    display: flex;
    /* border-bottom: 1px solid gainsboro; */
    align-items: center;
}

.tableCardHeaderDiv1 {
    width: auto;
    height: 100%;
    padding: 1rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: center;
}

.tableCardHeaderDiv2 {
    width: auto;
    /* background-color: green; */
    height: 100%;
    display: flex;
    padding: 1rem 0rem;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.createOrderBtn {
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'inter';
    font-size: 2rem;
    border: 1px solid gainsboro;
    color: var(--medium-grey);
    background-color: var(--light-BG-color);
    height: 90px;
    width: 90px;
    cursor: pointer;

}

.createOrderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    /* background-color: blue; */
}

.tableCardHeaderDiv3 {
    display: flex;
    /* background-color: orange; */
    flex: 1;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    color: var(--very-dark-grey);
    font-family: "Poppins";
    font-size: 1.75rem;
    padding: 1rem;
    /* font-weight: bold; */
}

.orderStatus {
    border-radius: 5px;
    font-size: 1rem;
    font-family: "poopins";
    padding: 0rem 1rem;
}

.orderStatusActive {
    background-color: rgb(47, 105, 60);
    color: white;
}

.orderStatusVacant {
    background-color: rgb(108, 29, 29);
    color: white
}

.tableNoCircle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    /* font-family: "Poppins"; */
    display: flex;
    color: white;
    background-color: var(--contrast-color);
}

.tableCardBody {
    flex: 1;
    overflow-y: auto;
    /* background-color: red; */
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
}

.tableCardBody::-webkit-scrollbar {
    /* background-color: gainsboro; */
    width: 5px;
}

.tableCardBodyItemUl {
    /* background-color: green; */
    margin: 0;
    padding: 0;
    list-style: none;
}

.tableCardBodyListItem {
    /* background-color: pink; */
    padding: 0.75rem 1rem;
    /* border: 1px solid gainsboro; */
    margin-bottom: 4px;
    font-size: 16px;
    background-color: var(--light-BG-color);
    border-radius: 4px;
    color: var(--cool-dark-grey);
    /* font-style: italic; */
    font-family: "Georgia", 'Times New Roman', Times, serif;
    /* font-size: 1.25rem; */
}

.tableCardBody::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 5px;

}

.tableCardBody::-webkit-scrollbar-thumb:hover {
    background-color: black;
    border-radius: 5px;
}

.tableCardBottom {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    /* background-color: pink; */
}

.viewOrderBtn {
    background-color: var(--contrast-color);
    border: none;
    width: 50%;
    cursor: pointer;
    font-family: "Inter";
    color: var(--light-BG-color);
    border: 1px solid var(--contrast-color);
    border-radius: 4px;
    padding: 0.5rem;
}


.itemCard {
    width: 100%;
    display: flex;
    border-bottom: 2px dashed gainsboro;
    height: 3.5rem;
    /* background-color: pink; */
}

.itemDisplay {
    flex: 1;
    flex-direction: column;
    /* background-color: orange; */
    padding: 0.5rem;

}

.orderItemStateContainer {
    display: flex;
    /* background-color: yellow; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderItemState {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


.newItemState {
    background-color: green;
}

.modifiedItemState {
    background-color: yellow;
}

.unmodifiedState {
    background-color: var(--medium-grey);
}

.orderItemNewItemState .itemName {
    /* background-color: orange; */
    font-family: "Roboto";
    font-size: 1rem;
    color: var(--very-dark-grey);

}

.itemPrice {
    font-size: 0.9rem;
    color: var(--medium-grey);
    font-family: "Inter";
}

.itemOption {
    /* background-color: #4e545c; */
    flex: 1;
    justify-content: center;
    display: flex;
    padding: 0 0.5rem;

}


.incrementQtyItem {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
}

.itemQty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    /* background-color: yellow; */
}

.decrementQtyItem {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: green; */
}

.itemEditBtn {
    background-color: var(--light-BG-color);
    border: 1px solid gainsboro;
    cursor: pointer;
    font-size: 1rem;
    min-width: 2.5rem;
    font-family: "Poppins";
    color: var(--cool-dark-grey);
    padding: 0rem 0.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
}

.optionContainer {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    /* background-color: orange; */
}

.orderSideBarContainer {
    /* background-color: rgba(0, 0, 0, 0.774); */
    flex: 1;
    background-color: var(--light-BG-color);
    width: 100%;
    height: calc(100vh - 3rem);
    /* background-color: red; */
    /* background-color: transparent; */
    padding: 0.5rem 5px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    /* border: 2px solid gainsboro; */

}

.orderManagementTab {
    /* background-color: var(--light-BG-color); */
    /* background-color: white/\; */
    padding: 10px;
    /* box-shadow: 2px 2px 4px var(--medium-grey); */
    /* box-shadow: -2px -2px 6px var(--contrast-color), 2px 2px 6px var(--contrast-color); */
    min-width: 40%;
    display: flex;
    border: 2px solid var(--contrast-color);
    /* border-radius: 4px; */
    /* outline: 1.5px solid gainsboro; */
    /* border: 1.5px solid var(--medium-grey); */
    height: 100%;
    border-radius: 5px;
    flex-direction: column;
    justify-content: flex-end;
    
    /* background-color: orange; */
    /* padding: 10px; */
    position: relative;
    /* background-color: pink; */
    flex-direction: column;
    overflow-y: auto;
}

.orderManagementTabContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--light-BG-color);
    /* background-color: orange; */
    overflow: auto;
}

.orderManagementTabContainer::-webkit-scrollbar-thumb {
    background-color: var(--medium-grey);
    border-radius: 5px;

}

.orderManagementTabContainer::-webkit-scrollbar {
    background-color: var(--light-BG-color);
    width: 5px;
}

.orderManagementTabContainer.tableCardBody ::-webkit-scrollbar-thumb:hover {
    background-color: blue;
    cursor: pointer;
}

.orderManagementTabHeader {
    width: 100%;
    display: flex;
    height: 2rem;
    background-color: var(--light-BG-color);
    /* background-color: yellow; */
    justify-content: space-between;
    /* z-index: 10000; */
    align-items: center;
}


.menuSrchBarContainer {
    width: 100%;
    height: 4rem;
    display: flex;
    padding: 0.5rem;
    /* background-color: yellowgreen; */
    position: relative;
    flex-direction: column;

}

.menuSrchBar {
    font-size: 1.5rem;
    border: var(--contrast-border);
    width: 100%;
    color: var(--cool-dark-grey);
    border-radius: 8px;
    font-family: "poppins";
    box-shadow: 2px 1px 6px gainsboro;
    border-radius: 5px;
    border: 1.5px solid gainsboro;
    padding-left: 0.5rem;

}

.itemSuggestionContainer {
    width: 100%;
    height: 10px;
    /* background-color: yellow; */
    position: relative;
    display: flex;
    padding-top: 0.5rem;
}

.itemSuggestionInnerContainer {
    width: 100%;
    height: max-content;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    box-shadow: 2px 1px 4px black;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
}

.suggestedItemCard {
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    font-family: "poppins";
    margin-top: 5px;
    height: max-content;

}

.suggestedItemCardContainer {
    /* background-color: orange; */
    display: flex;
    width: 100%;
    cursor: pointer;

    padding: 0.5rem;
    background-color: var(--light-BG-color);
    /* border: 2px solid gold; */

}

.variantsCardContainer {
    width: 100%;
    height: max-content;
    padding: 0.5rem;
    flex-direction: column;
    display: flex;
    /* background-color: green; */
}

.variantCard {
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
}

.variantInfo {
    /* background-color: orange; */
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: "Inter";
    color: var(--cool-dark-grey);
}

.variantOption {
    /* background-color: blue; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.suggestedItemCardDropDown {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.itemNameCard {
    flex: 1;
    padding: 0.5rem;

}

.currentOrderTab {
    width: 100%;
    flex: 1;
    max-height: 60%;
    display: flex;
    height: auto;
    padding: 0.5rem;
    flex-direction: column;
    max-height: max-content;
    /* overflow: auto; */
    /* background-color: orange; */
}

.orderSummaryContainer {
    /* background-color: white; */
    border-radius: 5px;
    /* border: 2px solid gainsboro; */
    padding: 0.5rem;
    height: auto;
}



.summaryTitleContainer {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    border-bottom: 1px dashed var(--cool-dark-grey);
    /* background-color: orange; */
}

.orderBottomTab {
    height: 3rem;
    width: max-content;
    /* box-shadow: 2px 1px 6px gainsboro; */
    border-radius: 5px;
    /* border: 1.5px solid gainsboro; */
    /* background-color: yellow; */
    display: flex;
    align-self: center;
    padding: 0.25rem;
    justify-content: space-around;
}

.itemCardContainer {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--cool-dark-grey);
    border-radius: 5px;
    /* font-size: 14px; */
    /* color: rebeccapurple; */
    /* background-color: orange; */
    /* border: 1.5px solid gainsboro; */
    padding: 1rem 0.5rem;
    height: 100%;
    overflow: auto;
    /* box-shadow: 2px 1px 6px gainsboro; */
}

.itemCardContainer::-webkit-scrollbar {
    background-color: white;
    width: 5px;
}

.itemCardContainer::-webkit-scrollbar-thumb {
    background-color: gainsboro;
}

.updateOrderBtn {
    background-color: var(--contrast-color);
    border-radius: 4px;
    padding: 2px 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    /* color: var(--cool-dark-grey); */
    font-family: "Poppins";
    font-size: 1.25rem;
    border: 1.5px solid var(--contrast-color);
    /* box-shadow: 1px 2px 5px var(--very-dark-grey); */
}

#printIcon{
    /* background-color: green; */
    margin-right: 1rem;
}
.orderBottomButton {
    border: none;
    border-radius: 5px;
    background-color: var(--contrast-color);
    display: flex;
    justify-content: center;
    color: var(--light-BG-color);
    align-items: center;
    cursor: pointer;
    /* color: var(--cool-dark-grey); */
    font-family: "Poppins";
    font-size: 1rem;
    margin-left: 1rem;
    width: 10rem;
    border: 1.5px solid var(--contrast-color);
    /* box-shadow: 1px 2px 5px var(--very-dark-grey); */
}

.flexCenter {
    /* background-color: orange; */
    display: flex;
}

.width100 {
    width: 100%;
}

.flexSpaceBetween {
    justify-content: space-between;
}



.MenuSuggestionContainer{
    flex: 1;
    height: 100%;
    /* border: 1.5px solid gainsboro; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
    overflow: hidden;
}

.filterContainer{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    /* background-color: pink; */
    padding-right: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--medium-grey);
}

.selectContainer{
    min-width: 12rem;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    padding-right: 1rem;
    /* background-color: orange; */
}

.orderTableContainer {
    flex: 1;
    /* background-color: white; */
    border-radius: 5px;
    display: grid;
    height: max-content;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    /* background-color: purple; */
}

.activeOrderManagerContainer{
    /* overflow: auto; */
    padding: 1rem;
    overflow: auto;
    flex: 1;
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    height: max-content;
    /* background-color: red;    padding-bottom: 200px; */
}

.tranparentBtn{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}