.paymentTab {
    /* background-color: orange; */
    flex: 1;
    height: max-content;
    display: flex;
    flex-direction: column;
    overflow: auto;

}
.paymentTab::-webkit-scrollbar{
    background-color: var(--light-BG-color);
    width: 4px;
    border-radius: 5px;
}
.paymentTab::-webkit-scrollbar-thumb{
    background-color: var(--cool-dark-grey);
}

.paymentTabItemContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    height: max-content;
    padding: 0;
    border-radius: 4px;
    padding: 1rem 0.5rem;
    /* background-color: beige; */

}

.paymentTabItemTableRow {
    width: 100%;
    /* background-color: pink; */
    height: max-content;
    display: grid;
    padding: 0.25rem 0rem;
    column-gap: 1%;
    grid-template-columns: 5% 40% 10% 20% 20%;
    font-family: "Poppins";
    /* font-size: 1rem; */
    text-overflow: ellipsis;
    align-content: center;
    border-bottom: 1px dashed var(--contrast-color);
}

.paymentTabItemTableRowHeader {
    font-size: 1rem;
    border-bottom: 2px solid var(--cool-dark-grey);
}

.paymentItemCard {
    width: 100%;
    /* background-color: green; */
    /* padding: 0.5rem; */
    display: flex;
    height: 3rem;
    background-color: black;
    border-bottom: 1px solid var(--contrast-color);
}

.paymentItemCol {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-size: 14px;
    overflow: hidden;
    color: var(--medium-grey);
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    height: 100%;
    /* background-color: orange; */
}

.itemSr {
    /* background-color: pink; */
}

.itemName {
    /* width: 45%; */
    /* background-color: purple; */
}

.paymentItemQty {
    /* width: 5%; */
    /* background-color: green; */
    /* min-width: 3rem; */
}

.paymentItemPrice {
    /* width: 5%; */
    /* min-width: max-content; */
    /* background-color: azure; */
}

.netAmt {
    /* flex: 1; */
    /* background-color: brown; */
}


.orderDetailsContainer {
    /* background-color: orange; */
    width: 100%;
     color: var(--medium-grey);
    font-size: 16px;
    font-family: "poppins";
    display: flex;
    flex-direction: column;
}

.taxDetailRow {
    /* background-color: orange; */
    width: 100%;
    /* font-size: 10px; */
    display: grid;
     color: var(--medium-grey);
    column-gap: 1%;
    grid-template-columns: 14% 14% 14% 14% 19% 19%;
}

.choosePaymentContainer {
    width: 100%;
    padding: 0.5rem 0rem;
    /* background-color: pink; */
}

.paymentFontOne {}

.PaymentOptionContainer {
    /* background-color: pink; */
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
}

.paymentOptionBtn {
    cursor: pointer;
    padding: 0.5rem 2rem;
    /* width: 6rem; */
    /* padding: 4px 8px; */
    font-family: "poppins";
    border: none;
    font-weight: 500;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    color: var(--cool-dark-grey);
    border: 1px solid gainsboro;
}

.paymentOptionBtnActive {
    border: 2px solid var(--contrast-color);
    background-color: white;
    color: var(--cool-dark-grey);

}
.paymentCompleteBtn{
    /* width: 100%; */
    padding: 8px 2rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-family: "poppins";
    font-size: 1rem;
    display: flex;
    
    background-color: var(--contrast-color);
    border: 1.5px solid var(--contrast-color);
    justify-content: space-around;
    align-items: center;
    color: var(--light-BG-color);
    /* background-color: white; */

    /* background-color: green; */
    /* padding: 4px; */
}

.paymentBtnContainer{
    flex: 1;
    padding: 1rem;
    /* width: 50%; */
    /* width: 100%; */
    display: flex;
    height: max-content;
    justify-content: center;
    /* border: 2px solid red; */
    /* background-color: orange; */
}
.completePaymentContainer {
    /* width: max-content; */
    /* padding: 0.5rem 1rem; */
    align-self: center;
    display: flex;
    flex: 1;
    width: 100%;
    /* justify-content: space-between; */
    /* background-color: purple; */
}


.amountTitle{
    /* background-color: yellow; */
}
.amount{
    font-size: 14px;
    /* font-weight: 500; */
    color: var(--cool-dark-grey);
}
.totalAmt{
    font-size: 1rem;
    font-weight: 500;
    color: var(--contrast-color);
}
.paymentSummaryContainer{
    width: 100%;
    /* height: 600px; */
    /* padding: 0 0.5rem; */
    display: flex;
    /* padding: 1rem; */
    /* background-color: orange; */
}
.amountDispaly{
    padding: 2px 2px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    font-family: "poppins";
    /* background-color: orangered; */
    color: var(--medium-grey);
}
    /* border-bottom: 1px solid gainsboro; */
.borderBottom{
    border-bottom: 1px solid gainsboro;
}
.paymentSummary{
    border-radius: 4px;
    flex: 1;
    /* border:1.5px solid gainsboro; */
    padding: 0.5rem;
    background-color: white;
}

.summaryTitle {
    color: var(--cool-dark-grey);
    font-size: 18px;
    /* background-color: orange; */
    font-family: 'Inter';
    padding: 0.2rem;
}