.bistroCardContainer{
    background-color: white;
    width: 300px;
    display: flex;
    /* min-height: 150px; */
    padding: 1rem;
    /* background-color: red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: max-content; */
    border: 1.5px solid gainsboro;
    border-radius: 8px;
    box-shadow: 1px 2px 4px gainsboro;
}

.bistroCard{
    flex: 1;
    cursor: pointer;
    width: 100%;
    /* height: max-content; */
    /* padding: 1rem; */
    flex-direction: column;
    flex-direction: column;
    /* background-color: yellow; */

}
.BistroLogoContainer{
    display: flex;
    /* background-color: orange; */
    width: 100%;
    
}

#restraIcon{
    width: 2.5em;
    height: 2.5rem;
    border-radius: 8px;
    padding: 0.5rem;
    background-color:gainsboro;
}
.bistroInfoContainer{
    flex: 1;
    padding: 0.5rem 0;
    /* background-color: orange; */
}

.BistroTagContainer{
    flex:1;
    /* background-color: pink; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}

#BistroTag{
    padding: 2px 8px;
    font-family: "lato";
    border-radius: 4px;
    font-size: 14px;
    background-color: gainsboro;
}

.bistroBranchCardContainer{
    width: 300px;
    /* background-color: red; 
    pad*/
    padding: 1rem;
    /* min-height: 150px; */
    min-height: max-content;
    /* height: max-content; */
    border-radius: 8px;
    border: 1.5px solid gainsboro;
    background-color: white;
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 4px gainsboro;
}

.bistroBranchCard{
    width: 100%;
    /* background-color: yellow; */
    flex: 1;
    cursor: pointer;
    display: flex;
    /* align-items: space-between; */
    flex-direction: column;
    /* padding: 1rem 1rem; */
}
.brancNameInner{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* height: max-content; */
    /* background-color: pink; */
}

.branchNameContainer{
    display: flex;
    height: max-content;
    flex: 1;

    align-items: flex-start;
    /* background-color: green; */
}

#markerIcon{
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    padding: 4px;
    align-self: flex-start;
    margin-right: 10px;
    /* flex: 1; */
    border: 1.5px solid gainsboro;
    background-color:ghostwhite ;
}

.BranchNameTitle{
    display: flex;
    /* height: max-content; */
    font-size: 14px;
    color: var(--contrast-color);
    font-family: "poppins";
    font-weight: 500;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    /* background-color: purple; */
}
.branchLocation{
    background-color: gainsboro;
    border-radius: 4px;
    padding: 2px 4px;
    margin-left: 10px;
    width: max-content;
    font-family: "Inter";
    font-size: 12px;
    border: 1px solid gainsboro;
}
.viewBranchBtn{
    border: 1.5px solid gainsboro;
    border-radius: 4px;
    /* margin-top: 16px; */
    width: 100%;
    cursor: pointer;
    color: var(--cool-dark-grey);
    padding: 8px 6px;
    background-color: var(--light-BG-color);
}

.viewBranhContainer{
    padding: 20px 0;

    padding-bottom: 0;
    /* background-color: yellow; */
}