.headerDiv{
    background-color: white;
    width: 100%;
    display: flex;
    box-shadow: 1px 2px 4px var(--complement-color);
    /* border-bottom:2px solid gainsboro; */
    min-height: 3rem;
    z-index: 1000;
    padding: 0 1rem;
}
#LogoTitle{
    /* background-color: orange; */
    /* flex: 1; */
    font-family: "poppins";
    color: var(--cool-dark-grey);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.headerRightDiv{
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    justify-content: start; 
    align-items: center;
}

.headerLeftDiv{
    /* background-color: green; */
    flex: 1;
}