.matrixCard {
    /* flex: 1; */
    width: 350px;
    /* margin-left: 1rem; */
    background-color: white;
    height: max-content;
    border: var(--contrast-border);
    border-radius: 8px;
    display: flex;
    /* box-shadow: 1px 1px 4px gainsboro; */
}

.matrixContent {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* background-color: orange; */
}

.matrixData {
    display: flex;

    font-size: 20px;
    font-family: "inter" !important;
    font-weight: 500;
    justify-content: flex-end;
    padding: 4px;
    /* color: var(--contrast-color); */
    /* background-color: green; */
    /* color: green; */
}

.matrixTitle {
    font-family: "inter";
    display: flex;
    font-size: 14px;
    color: var(--contrast-color);
    justify-content: flex-end;
    /* background-color: yellow; */
}

.matrixIconContainer {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    /* background-color: white; */
    /* align-items: center; */
    width: max-content;
    padding: 1rem;
    /* overflow: hidden; */
    /* background-color: orange; */
}

#matrixIcon {
    border: var(--contrast-border);
    width: 2.5rem;
    padding: 10px;
    border-radius: 8px;
    height: 2.5rem;
    background-color: var(--complement-color);
    border: 1px solid var(--contrast-color);
    /* background-color: purple; */
    /* background-color: #4b556333; */
}


.RecentOrderCardContainer {
    width: 100%;
    margin-top: 8px;
    background-color: var(--light-BG-color);
    height: max-content;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    border-radius: 4px;
}

.RecentOrderCardHeader {
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
}

.flexRow {
    /* background-color: yellow; */
}

.flex {
    /* background-color: pink; */
    display: flex;

}

.spanTag {
    flex: 1;
    font-size: 14px;
    padding: 4px;
    font-family: "inter";
    color: var(--medium-grey);
}

.priceTag {
    font-weight: 400;
    font-family: "poppins";
    font-size: 18px;
    /* background-color: orange; */
}


.orderNoTag {
    font-family: "poppins";
    font-weight: 400;
    /* background-color: black; */
}

.chartContainer {
    padding: 0; 
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* height: 300px; */
    /* height: max-content; */
    /* margin-top: 10px; */
    background-color: white;
    border-radius: 8px;
        border: var(--contrast-border);
    /* background-color: orange; */
}

.chartTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* background-color: green; */
    padding: 8px 16px;
}

.chartTitle {
    font-size: 24px;
    margin: 0;
    color: var(--medium-grey);
    /* background-color: yellow; */
}


.chartHolder{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    flex: 1;
}

.pieChartContainer{
    display: flex;
    flex: 1;
    
}

.pieLegendUL{
    /* background-color: yellow; */
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pieLegendLI{
    /* background-color: red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legendCricle{
    display:flex;
    /* background-color: orange; */
}