.bistroCardContainer {
    /* flex: 1; */
    width: 100%;
    display: grid;
    align-items: stretch;
    column-gap: 10px;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, 300px);
    overflow: hidden;
    /* box-shadow: 1px 2px red; */
    row-gap: 10px;
    height: max-content;

}

.addBistroCardContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    height: max-content;
    background-color: var(--light-BG-color);
    border-radius: 5px;
    border: 1.5px solid gainsboro;
    box-shadow: 1px 1px 2px var(--cool-dark-grey);
}
.addBistroFormContainer{
    /* background-color: orange; */
    padding: 1rem;
    flex: 1;
}
.addBistFrom{
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
}
.addBistroBtn{
    border: none;
    background: var(--cool-dark-grey);
    padding: 6px 18px;
    color: var(--light-BG-color);
    /* border: 5px; */
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    border: 1.5px solid gainsboro;
    justify-self: center;
}

.branchContainer{
    /* flex: 1; */
    /* background-color: rebeccapurple; */
    padding: 1rem 0.5rem;
    display: grid ;
    align-content: stretch;
    flex-wrap: wrap;
    row-gap: 10px;
    /* justify-content: space-between; */
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit,300px);
}

.bistroInfoCard{
    /* background-color: var(--light-BG-color); */
    display: flex;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 2px 2px 6px rgb(203, 203, 203);
    border: 1.5px solid gainsboro;
    flex: 1;
    overflow: hidden;
    padding: 1rem;
}

.bistroInfohead{
    /* background-color: red; */
    /* flex: 1; */
    display: flex;
    padding: 0.5rem 0;
    height: max-content;
    justify-content: center;

    align-items: center;
    /* background-color: yellow; */
}

.flex{
    display: flex;
    /* background-color: green; */
}
.flexCenter{
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
}

.bgRed{
    display: flex;
    align-items: flex-start;
    /* background-color: red; */
}

.nameTitle{
    margin: 0;
    font-family: "Inter";
    font-weight: 600;
    /* background-color: yellow; */
    color: var(--contrast-color);
}
.flexOne{
    flex: 1;
}

#Icon{
    display: flex;
    width: 3rem;
    height: 100%;
    padding: 0.25rem;
    border-radius: 8px;
    margin-right: 1rem;
    background-color: var(--complement-color);
}

.editBistro{
    display: flex;
    width: max-content;
    background-color: transparent;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-BG-color);
    border-radius: 10px;
    border: 1.5px solid gainsboro;
    justify-content: space-between;
}

#penIconId{
    /* background-color: red; */
    margin-right: 10px;
}

.infoContainer{
    /* flex: 1; */
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    /* background-color: orange; */
    column-gap: 10px;
    padding: 10px;
    align-items: stretch;
    row-gap: 10px;
}

.infoDiv{
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    /* height: max-content; */
    align-items: flex-start;
    background-color: var(--light-BG-color);
    /* background-color: gray; */
}
.infoInnerDiv{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    justify-content: flex-start;
    /* background-color: red */
}

.infoTittle{
    font-family: "inter";
    font-size: 14px;
    /* background-color: orange; */
    color: var(--contrast-color);
}
.infoValue{
    font-size: 14px;
    border-radius: 8px;
    padding: 6px;
    font-family: "poppins";
    font-weight: 600;
    margin-top: 5px;
    background-color: white;
    color: var(--cool-dark-grey);
}