.zoneConfigContianer {
    background-color: var(--light-BG-color);
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: 1.5px solid var(--contrast-color);
    border-radius: 8px;
    overflow: hidden;
    /* background-color: purple; */
}

.zoneConfigZone {
    /* background-color: pink; */
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: hidden;
}

.zoneInputContainer {
    display: flex;

}

.saveContainer {
    display: flex;
    /* background-color: pink; */
    min-width: 30%;
    padding: 0 1rem;
}

.saveBtn {
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.25rem;
    font-family: "poppins";
    background-color: var(--light-BG-color);
    color: var(--contrast-color);
    border: 1.5px solid var(--contrast-color);
}

.zoneModification {
    /* background-color: r?ed; */
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    height: max-content;
    overflow: hidden;
}

.zoneConfigContainer {
    /* flex: 1; */
    /* padding: 10px; */
    display: flex;
    height: 100%;
    /* border: 1px solid gainsboro; */
    flex-direction: column;
    /* display: flex; */
    /* overflow: auto; */
    /* padding: 1rem; */
    /* margin-top: 1rem; */
    /* overflow: auto; */
    /* background-color: orange; */
}

.divTableBox {
    /* flex: 1; */
    width: 100%;
    display: grid;
    height: 100%;
    max-height: 100%;
    /* background-color: yellow; */
    grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    border-radius: 10px;
    border: 1.5px dashed var(--contrast-color);
    padding: 10px;
    padding: 2% 5%;
    overflow: auto;
}

.tableBlock {
    background-color: var(--complement-color);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--contrast-color);
    font-family: "inter";
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--contrast-color);
}


.newtable {
    background-color: greenyellow;
}