.bistroLayoutContainer{
    flex: 1;
    /* background-color: orange; */
    padding: 1rem;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.bistroInfContainer{
    display: flex;
    padding: 1.5rem 0.5rem;
    /* background-color: gray; */
    flex-direction: column;
}

.bistroBranchCOntainer{
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    flex: 1;
    /* color: var(--contrast-color) !important; */
    padding: 1rem;
}

.flex{
    display: flex;
}

.bistroInfoContainer{
    padding: 1rem;
    display: flex;
    height: max-content;
    /* background-color: red; */
}



