
.bistroManagerLayout{
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    flex-direction: column;

}
.bistroMagnerLayoutTitleContainer{
    /* background-color: white; */
    /* flex: 1; */
    padding: 0 1rem;
    height: max-content;
    width: 100%;
}
.bistroManagerBistroCardContainer{
    flex: 1;
    /* background-color: yellow; */
    display: flex;
    padding: 8px;
}