.mainLayoutContainer {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    /* position: relative;  */
}
.mainLayoutWrapper{
    /* background-color: pink; */
    display: flex;
    height: 100%;
    /* padding: 1rem; */
    overflow: hidden;
    overflow-x: hidden;
    flex: 1;
}

.mainLayoutSideBarContainer {
    background-color: var(--medium-grey);
    /* width: 5%; */
    max-width: 3.5rem;
    
    /* height: max-content; */
    /* background-color: orange; */
    flex: 1;
    box-shadow: 1px 2px 6px gainsboro;
    display: flex;
    border-right: 1px solid gainsboro;
}

.mainLayoutOrderTableContainer {
    /* height: max-content; */
    width: 100%;
    /* padding: 0.5rem; */
    display: flex;
    /* background-color: beige; */
    position: relative;
    flex-direction: column;
    overflow: hidden;
}

.mainLayoutOrderTableContainerInner {
    /* background-color: green; */
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    overflow: auto;
    min-height: 100%;
    height: max-content;
    /* background-color: orange; */
    flex-direction: column;
}

.titleContainer {
    height: max-content;
    padding: 1rem 0.5rem;
    margin: 0;
    /* background-color: orange; */
}
#LayOutTitle{
    /* background-color: aliceblue; */
    margin: 0;
    font-family: "Playfair Display";
    color: var(--medium-grey) !important;
    /* color: red; */
    /* padding: 0.5rem; */
}



