.menuCardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1rem;
    /* background-color: beige; */
    flex-direction: column;
    /* border: 2px solid gainsboro; */
    border-radius: 4px;
    /* padding: 1rem 0; */
    /* outline: 1px solid white; */
    /* box-shadow: -2px -2px 6px var(--medium-grey); */
    /* overflow: auto; */
}
.menuTitleContainer{
    display: flex;
    padding: 1.5rem 0rem;
    justify-content: flex-start;
    align-items: center;
    /* background-color: orange; */
}

.menuTitle{
    font-size: 24px;
    font-weight: 800;
    font-family: "poppins";
    color: var(--medium-grey);
    /* background-color: green; */
}
.menuBarContainer{
    width: 100%;
    height: 3rem;
    display: flex;
    /* justify-content: center; */
    /* flex-direction: column; */
    /* background-color: green; */
}
.menuBar{
    background-color: white;
    width: 40%;
    border: 1.5px solid gainsboro;
    /* box-shadow: 2px 2px 4px var(--medium-grey); */
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}
.menuInputBox{
    color: var(--cool-dark-grey);
    font-size: 1rem;
    /* background-color: orange; */
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 0.5rem;
}
.createMenuCardBtn{
    flex: 1;
    background-color: green;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    font-family: "Poppins";
}
.createItemContainer{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    /* background-color: yellow; */
}
.createItemButton{
    border: none;
    display: flex;
    margin-right: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: white;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    background-color: var(--cool-dark-grey);
}
#variantOptionIcon{
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    /* background-color: pink; */
    /* background-color: yellow; */
}
.createCategoryContainer{
    position: absolute;
    background-color: var(--light-BG-color);
    width: 60%;
    display: flex;
    box-shadow: 1px 1px 4px var(--cool-dark-grey);
    height: max-content;
    border-radius: 5px;
    border: 1px solid white;
    outline: 1px solid gainsboro;
    padding: 0.5rem 0.5rem;
    top: 100%;
    margin-top: 10px;
    /* background-color: orange; */
}

