.orderTableLayout{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* padding: 1rem; */
    /* height: max-content; */
    /* background-color: yellow; */
}
.bistroTitle{
    font-size: 24px;
    font-family: "poppins";
    color: var(--medium-grey);
    /* background-color: orange; */
}

.orderTableLayoutHeader{
    padding: 1rem;
    padding-bottom: 0;
    /* font-size: 2rem !important; */
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    /* color: rebeccapurple I !important; */
    /* background-color: orange; */
}
.orderTableContainer {
    flex: 1;
    /* background-color: white; */
    border-radius: 5px;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
    padding: 1rem 2rem;
    /* background-color: purple; */
}

.bistroContainer{
    flex: 1;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
}


.selectBistroContainer{
    /* flex: 1; */
    display: grid;
    width: 100%;
    height: max-content;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fit,max(300px));
    padding: 1rem;
    /* background-color: orange; */
}

.activeOrderFilterContainer{
    /* background-color: red; */
    width: 100%;
    height: 3rem;
    display: flex;
    padding: 0 1rem;
}
