.overlayContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.48);
    /* background-color: red; */
}

.CloseBarContainer {
    /* background-color: blue; */
    width: 100%;
    padding: 0rem 0.5rem;
    display: flex;
    height: max-content;
    border-bottom: 2px solid var(--contrast-color);

}

.closeBarTitleContainer {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--medium-grey);
    font-size: 1.5rem;
    font-family: "Inter";
    padding: 5px;
    justify-content: flex-start;
    /* background-color: yellow; */
}

#closeBarIcon {
    width: 2rem;
    /* background-color: orange; */
    height: 2rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn {
    /* background-color: orange; */
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem;

}

.icons {
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 1.5rem;
    /* background-color: yellow; */
}

.createBtn {
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--contrast-color);
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;

    border-radius: 50%;
}


.formLabel {
    padding: 0.5rem 0;
    padding-bottom: 0rem;
    font-size: 1rem;
    font-family: "Poppins";
    /* background-color: red; */
    display: flex;
    padding: 4px;
    margin: 0;
    font-weight: 500;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    align-content: center;
    color: var(--very-dark-grey);
    color: var(--contrast-color);
}


.formInput {
    border: var(--contrast-border);
    padding: 0.5rem;
    font-family: "Poppins";
    width: 100%;
    font-size: 1rem;
    flex: 1;
    color: var(--cool-dark-grey);
    border-radius: 5px;
    /* background-color: red; */
}

.errorBlock {
    color: tomato;
    padding: 0 0.5rem;
}


#TitleBar {
    font-size: 18px;
    color: var(--contrast-color);
    font-family: "poppins";
    font-weight: 500;
    /* padding: 0.5rem; */
    /* background-color: green; */
}

#subTitle {
    font-size: 14px;
    font-family: "roboto";
    margin: 0;
    color: var(--contrast-color);
    /* background-color: yellow; */
}


.prevBtn {
    border: none;
    display: flex;
    /* border: 1px solid var(--cool-dark-grey); */
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: transparent;
}

.prevBtn:hover {
    cursor: pointer;
    background-color: goldenrod;
}

#prevIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.filterSelect {
    margin-left: 0.5rem;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    /* display: flex; */

    /* background-color: pink; */
    flex: 1;
    /* display: flex; */
}

.filterItem {
    display: flex;
    width: 100%;
    /* background-color: yellow; */
}

.filterInput {
    /* background-color: yellow; */
}

.layoutTitleTwo{
    /* padding: 0.5rem; */
    font-family: 'poppins';
    color: var(--contrast-color);
    font-size: 24px;
    /* background-color: orange; */
}